<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324149748962-j5p657p2eg92ae9u78f0dp1l8n6anbnb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324149748962-j5p657p2eg92ae9u78f0dp1l8n6anbnb</string>
	<key>API_KEY</key>
	<string>AIzaSyA9rOWbsikCDTc3NU9NXClGrX3_akAHz78</string>
	<key>GCM_SENDER_ID</key>
	<string>324149748962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techmeal.tmay</string>
	<key>PROJECT_ID</key>
	<string>tmay-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tmay-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324149748962:ios:90c9da4ba42092db582abb</string>
</dict>
</plist>